
<div class="container"> 
<% if flash[:sign_msg]%>
<div class="alert alert-warning">
<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
<%= flash[:sign_msg]%>  
</div>
<%end%>

<%= form_for(@player, :as => resource_name, :url => console_session_path,:html=>{:class=>"form-signin",:id=>"signin-form"}) do |f| %>
	<h3 class="form-signin-heading">请输入登录信息</h3>
	<%= f.email_field :email, :autofocus => true,:class=>"form-control",:placeholder=>"Email",:required=>"required" %><br/>
	<%= f.password_field :password,:class=>"form-control",:placeholder=>"Password",:required=>"required" %>
	<label class="checkbox">
	<%= f.check_box :remember_me %> <%= f.label :'记住我' %>
	</label>
	<div><%= f.submit "登 录",:class=>"btn btn-lg btn-primary btn-block" %></div>
<% end %>
</div> 
<script type="text/javascript">
$("#signin-form").validate();
</script>