
<div id="carousel-example-captions" class="carousel slide" style="height: 410px;width:950px;margin-left:auto;margin-right:auto;">
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-captions" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-captions" data-slide-to="1" class=""></li>
    <li data-target="#carousel-example-captions" data-slide-to="2" class=""></li>
    <li data-target="#carousel-example-captions" data-slide-to="3" class=""></li>
    <li data-target="#carousel-example-captions" data-slide-to="4" class=""></li>
  </ol>
  <div class="carousel-inner" style="width:900px;">
    <div class="item active">
      <a href="http://aws.amazon.com/cn/rds/" target="_blank">
      <%= image_tag "banner/rds.png"%>
      <div class="carousel-caption">
        <h3></h3>
        <p></p>
      </div>
    </a>
    </div>

    <div class="item">
      <a href="http://aws.amazon.com/cn/game-hosting/" target="_blank">
      <%= image_tag "banner/game.png"%>
      <div class="carousel-caption">
        <h3></h3>
        <p></p>
      </div>
      </a>
    </div>

    <div class="item">
      <a href="http://aws.amazon.com/cn/ec2/reserved-instances" target="_blank">
      <%= image_tag "banner/ec2.png"%>
      <div class="carousel-caption">
        <h3></h3>
        <p></p>
      </div>
      </a>
    </div>
    <div class="item">
      <a href="https://aws.amazon.com/marketplace" target="_blank">
      <%= image_tag "banner/marketplace.png"%>
      <div class="carousel-caption">
        <h3></h3>
        <p></p>
      </div>
      </a>
    </div>
     <div class="item">
      <a href="http://aws.amazon.com/cn/web-applications/social-media" target="_blank">
      <%= image_tag "banner/shejiao.png"%>
      <div class="carousel-caption">
        <h3></h3>
        <p></p>
      </div>
      </a>
    </div>



  </div>
<!--   <a class="left carousel-control" href="#carousel-example-captions" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-captions" data-slide="next">
    <span class="icon-next"></span>
  </a> -->
</div>


<hr/>
