<div id="carousel-console-captions" class="carousel slide" style="height: 500px;width:900px;margin-left:auto;margin-right:auto;">
<ol class="carousel-indicators">
  <% @pages.length.times.each do |i|%>
    <li data-target="#carousel-console-captions" data-slide-to="<%= i %>" class="<%= 'active' if i == 0%>"></li>
  <%end%>
</ol>
<div class="carousel-inner text-center" >
<% @pages.each_with_index do |page,i|%>
  <div class="item <%= 'active' if i == 0 %>" title="<%= page.title %>" >
    <a href="<%= page.url %>" target="_blank">
      <img class="banner_img" src="<%= page.img_url %>" />
      <div class="carousel-caption">
        <h5 class="banner_h5"><% page.title%></h5>
      </div>
    </a>
 </div>
<%end%>

   
<!-- 
    <div class="item">
      <iframe src="http://getbootstrap.com/components/" width="940" height="400"></iframe>
    </div>

    <div class="item">
      <a href="http://aws.amazon.com/cn/ec2/reserved-instances" target="_blank">
      <%= image_tag "banner/ec2.png"%>
      <div class="carousel-caption">
        <h3></h3>
        <p></p>
      </div>
      </a>
    </div>
    <div class="item">
      <a href="https://aws.amazon.com/marketplace" target="_blank">
      <%= image_tag "banner/marketplace.png"%>
      <div class="carousel-caption">
        <h3></h3>
        <p></p>
      </div>
      </a>
    </div>
 -->


  </div>
<!--   <a class="left carousel-control" href="#carousel-console-captions" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#carousel-console-captions" data-slide="next">
    <span class="icon-next glyphicon glyphicon-arrow-right"></span>
  </a> -->
</div>


<hr/>
