<div class="modal-dialog" id="site-dialog">
<%= form_for [:console,@site], :url => {:controller => "sites",:action=>action},:html=>{:class=>"form form-inline"} do |form| %>
<div class="modal-content">
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title"><%= title || "" %></h4>
</div>
<div class="modal-body">
 	 <label><%= action_name == "edit" ? "修改网站" : "新增网站" %>:</label>
	<div class="form-group">
	<label class="sr-only" for="">网站名称</label>
	<%= form.text_field :name,:placeholder=>"网站名称",:class=>"form-control",:required=>"required"  %>
	</div>
	<div class="form-group">
	<label class="sr-only" for="">URL</label>
	<%= form.url_field :url,:placeholder=>"url",:class=>"form-control",:required=>"required"  %>
	</div>
	<div class="checkbox">
	<label>
	  <%= form.check_box :normal %>状态正常
	</label>
	</div>
</div>
<div class="modal-footer">
	 <%= form.submit :"提 交",:class=>"btn btn-primary" %>
  	<button type="button" class="btn btn-default" data-dismiss="modal">取 消</button>
</div>
</div>

<%end%>

</div>


<script type="text/javascript">





</script>







