<ul class="nav nav-tabs">
<li <%= active_class if action_name == "index" %>>
 <%= link_to raw('<span class="glyphicon glyphicon-home"></span> 玩家主页'),console_players_path%>
</li>
<li <%= active_class if action_name == "list" %>>
 <%= link_to raw('<span class="glyphicon glyphicon-list"></span> 玩家列表'),list_console_players_path%>
</li>
<li <%= active_class if action_name == "new" %>>
 <%= link_to raw('<span class="glyphicon glyphicon-plus"></span> 新建玩家'),new_console_player_path %>
</li>



<% if @player && (action_name == "edit" || action_name == "update") %>
<li class="active">
<%= link_to raw('<i class="glyphicon glyphicon-edit"></i>修改玩家'),edit_console_player_path(@player) %>
</li>
<%end%>

</ul>
