<div class="container container-front" style="">
<!-- <fieldset>
<legend>AWS服务</legend> -->

<ul class="nav nav-tabs">
<li <%= active_class if action_name == "index" %> >
	<%= link_to raw('<span class="glyphicon glyphicon-list"></span>所有服务'),services_path()%>
</li>
<% @categories.each do |cate|%>
<li <%= active_class if action_name == "by" && params[:category_code] == cate.code %>>
	<%= link_to cate.name,services_by_path(cate.code)%>
</li>
<%end%>
</ul>

<div class="alert alert-info">
 AWS 提供了<strong><%= @services.total_entries %></strong>个云计算服务.
</div>
<% @services.each do |service|%>

<div class="media">
  <div class="media-body">
   <div class="media-heading">
   	<%= link_to service.full_name,service.aws_url,:target=>"_blank" %>
   	 <%= normal_tag service.normal %>
   	 </div>
    <p><%=  service.caption %></p>
  </div>
</div>


<%end%>
<!-- </fieldset> -->


<%= will_paginate @services %> 
</div>
