<!--  <ul class="nav navbar-nav">
<li class="active"><a href="#">Home</a></li>
<li><a href="#about">About</a></li>
<li><a href="#contact">Contact</a></li>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li class="divider"></li>
    <li class="dropdown-header">Nav header</li>
    <li><a href="#">Separated link</a></li>
    <li><a href="#">One more separated link</a></li>
  </ul>
</li>
</ul>
 -->

<ul class="nav navbar-nav">
<li><a href="/">  <span class="glyphicon glyphicon-home"></span> Home</a></li>


<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">服务管理
    <b class="caret"></b></a>
    <ul class="dropdown-menu">
    <li class="dropdown-header">Service</li>
    <li><%= link_to "服务首页",console_services_path %></li>
    <li><%= link_to "服务列表",list_console_services_path %></li>
    <li><%= link_to "新增服务",new_console_service_path %></li>
    </ul>
</li>


<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">地区管理
    <b class="caret"></b></a>
    <ul class="dropdown-menu">
    <li class="dropdown-header">Region</li>
    <li><%= link_to "地区首页",console_regions_path %></li>
    <li><%= link_to "地区列表",list_console_regions_path %></li>
    <li><%= link_to "新增地区",new_console_region_path %></li>
    </ul>
</li>


<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">分类管理
    <b class="caret"></b></a>
    <ul class="dropdown-menu">
    <li class="dropdown-header">Category</li>
    <li><%= link_to "分类首页",console_categories_path %></li>
    <li><%= link_to "分类列表",list_console_categories_path %></li>
    <li><%= link_to "新增分类",new_console_category_path %></li>
    </ul>
</li>

<!-- 

<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">基本
    <b class="caret"></b></a>
</li>

 -->






</ul>

<ul class="nav navbar-nav navbar-right">
<li><a href="../navbar/">Default</a></li>
<li><a href="../navbar-static-top/">Static top</a></li>
<li class="active"><a href="./">Fixed top</a></li>
</ul>