<!DOCTYPE html>
<html ng-app>
<head>
  <title>Aw7s</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrap">

<div class="navbar navbar-default navbar-static-bottom">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Aw7s</a>
    </div>
    <div class="navbar-collapse collapse">
     <%= render "front/navbar"%>
    </div>
  </div>
</div>

<div class="container" >
	<%= yield %>
</div>
</div>

	<%= render "layouts/footer"%>
</body>
</html>